
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$white: #eee;
$background_url: url('/../images/footer_lodyas.png');


body {
	background: $background_url;
}

html,body{
	height:100%;
}

.carousel, .item, .active{
	height:100%;
}
.carousel-inner{
	height:100%;
}

.eduction {
	background: url('/../images/education.jpg') center center fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vh;
}

.project {
	background: url('/../images/project.jpg') center center fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vh;	
}

.work {
	background: url('/../images/work.jpg') center center fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vh;
}

.mb-0 {
	margin-bottom: 0 !important;
}
.mt-0 {
	margin-top: 0 !important;
}

.footer {
	background: $background_url;
	color: $white;
}

.copyright {
	background: $white;
	padding: 10px 0px;
	box-shadow: inset 0 5px 15px -5px #333;
}

#section3 {
	.col-sm-2 {
		text-align: center;
		margin-top: 30px;
	}
	.skillcon {
		display: block;
		font-size: 5em;
		text-align:center;
	}
}

.fluid {
	display:block;
	float: left;
}

.footer {
	p {
		font-size: 14px;
		color: aliceblue;
	}
	.row {
		margin-left : 0;
		margin-right: 0;
	}
	.social {
		margin-top: 5em;
		margin-bottom: 1em;
		text-align: center;
	}
}


.fa {
  padding: 16px;
  font-size: 25px;
  width: 60px;
  margin-left: 12px;
  margin-right: 7px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  color: white;
  transform: translateY(-5px);
  transition: ease-in 0.2s;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #0077B5;
  color: white;
}


.fa-github {
  background: #eee;
  color:black;
}