
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$white: #eee;
$background_url: url('/../images/footer_lodyas.png');


body {
	background: $background_url;
}

html,body{
	height:100%;
}

.site {
	width: 100%;
}

.overlay {
	height: 100vh;
	width: 100%;
	position: absolute;
	background: black;
	opacity: 0.5;
}

.education_heading {
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
		   -moz-transform: translateX(-50%) translateY(-50%);
		    -ms-transform: translateX(-50%) translateY(-50%);
		     -o-transform: translateX(-50%) translateY(-50%);
		        transform: translateX(-50%) translateY(-50%);

	top: 50%;

    position: absolute;
    color: white;

    text-align: center;	
	
	h1 {
		margin-bottom: 30px;
		font-size: 60px;

	}
}

.fullscreen{
	height:100%;
}

.halfscreen {
	min-height: 50vh !important;
	max-height: 50vh;
}

.welcome {
	background: url('/../images/welcome.jpg') center center;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;
}

.paraxify {
  background-attachment: fixed !important;
  background-position: center center;
  background-size: cover;
}

.education {
	background: url('/../images/education.jpg') center center;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;
}

.project {
	background: url('/../images/project.jpg') center center;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;	
}

.work {
	background: url('/../images/work.jpg') center center;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;
}

.footer {
	background: #00000059;
	color: $white;
}

.copyright {
	background: $white;
	padding: 10px 0px;
	box-shadow: inset 0 5px 15px -5px #333;
}

.skill-section {
	.col-sm-2 {
		text-align: center;
		margin-top: 30px;
	}
	.skillcon {
		display: block;
		font-size: 5em;
		text-align:center;
	}
}

.fluid {
	display:block;
	float: left;
}

.footer {
	p {
		font-size: 14px;
		color: $white;
	}
	.row {
		margin-left : 0;
		margin-right: 0;
	}
	.social {
		display: block;
	}
}


.fa {
  padding: 16px;
  font-size: 25px;
  width: 60px;
  margin-left: 12px;
  margin-right: 7px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  color: white;
  transform: translateY(-5px);
  transition: ease-in 0.2s;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #0077B5;
  color: white;
}


.fa-github {
  background: #eee;
  color:black;
}


.icon-scroll, .icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
	width: 34px;
	height: 70px;
	margin-left: -17px;
	margin-top: 120px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
}


.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
	0% {
		    opacity: 1;

	}
  100% {
  	    opacity: 0;
    transform: translateY(46px);
	}
}

.navbar .nav-dropdown {
	color: rgba(0,0,0,.5);
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

@media (min-width: 576px) {
	.card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 258 20 49%;
    margin-bottom: 0;
	}
}

.card-group .list-group-item p {
	margin-bottom: 0;
}


.thumbnail-nav {
	ul {
		list-style: none;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    padding: 0;
	    margin:0;
	}

	img {
		width: 100%;
	}

	.thumbnail-container {

	}

	.item-link {
		opacity: 0.6;
	}

	.thumnail-img {
		color: white;
	    width: 20%;
	    border: 3px grey solid;
	}

	.active {
		opacity: 1;
	}
}

  