

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'module';

body {
	background: $background_url;
}

html,body{
	height:100%;
}


.site {
	width: 100%;
	position: relative;
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.overlay {
	height: 100vh;
	width: 100%;
	position: absolute;
	background: black;
	opacity: 0.5;
}

.main-heading {
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
		   -moz-transform: translateX(-50%) translateY(-50%);
		    -ms-transform: translateX(-50%) translateY(-50%);
		     -o-transform: translateX(-50%) translateY(-50%);
		        transform: translateX(-50%) translateY(-50%);

	

    position: absolute;
    color: white;

    text-align: center;	
	
	h1 {
		margin-bottom: 30px;
		font-size: 60px;

	}
}

@keyframes show-heading{
	from {
		bottom:-500px;
	}
	to {
		bottom:25%;
	}
}

.education-heading {
	top: 50%;
}

.welcome-heading {
	bottom: -500px;
	animation-name: show-heading;
	animation-duration: 7s;
	animation-fill-mode: both;
	font-family: fantasy;


	h2 {
		font-size: 2.3rem;
	}
}

.icon-scroll, .icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
	width: 34px;
	height: 70px;
	margin-left: -17px;
	margin-top: 120px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
}


.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}



@keyframes scroll {
	0% {
		    opacity: 1;

	}
  100% {
  	  opacity: 0;
  	  transform: translateY(46px);
	}
}

.pointer {
	cursor: pointer;
}

.fullscreen{
	height:100%;
	position: relative;
}

.halfscreen {
	min-height: 50vh !important;
	max-height: 50vh;
}

.paraxify {
  background-attachment: fixed !important;
  background-position: center bottom;
  background-size: cover;
}


@keyframes shooting-star {
    to {
        right: 3000px;
        top: 3000px;
    }
}

.sstar {
	content: '';
    width: 200px;
    height: 5px;
    right: -10px;
    top: -50px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    border-radius: 50%;
    transform: rotateZ(135deg);
    position: absolute;
    animation-name: shooting-star;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

.sstar2 {
	right: 30px;
    top: -50px;
    animation-delay: 5s;
}
.sstar3 {
	right: -100px;
    top: 0px;
    animation-delay: 2s;
}


.welcome {
	background: url('/../images/welcome.jpg') center bottom;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;
	overflow: hidden;
}

.welcome-land {
	background: url('/../images/land.png') center bottom;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;
	z-index: 10;
}

.education {
	background: url('/../images/education.jpg') center center;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;
}

.project {
	background: url('/../images/project.jpg') center center;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;	
}

.work {
	background: url('/../images/work.jpg') center center;
	background-size: cover;
	min-height: 100vh;
	min-width: 100%;
}

/*
	Footer
*/

.footer {
	background: rgba(0,0,0,0.34);
	color: $white;
}

.copyright {
	background: $white;
	padding: 10px 0px;
	box-shadow: inset 0 5px 15px -5px #333;
}

.skill-section {
	.col-sm-2 {
		text-align: center;
		margin-top: 30px;
	}
	.skillcon {
		display: block;
		font-size: 5em;
		text-align:center;
	}
}

.fluid {
	display:block;
	float: left;
}

.footer {
	p {
		font-size: 14px;
		color: $white;
	}
	.row {
		margin-left : 0;
		margin-right: 0;
	}
	.social {
		display: block;
	}
}


.fa {
  padding: 16px;
  font-size: 25px;
  width: 60px;
  margin-left: 12px;
  margin-right: 7px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  color: white;
  transform: translateY(-5px);
  transition: ease-in 0.2s;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #0077B5;
  color: white;
}


.fa-github {
  background: #eee;
  color:black;
}


/*
	Navigation
*/

.navbar .nav-dropdown {
	color: rgba(0,0,0,.5);
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

@media (min-width: 576px) {
	.card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 258 20 49%;
    margin-bottom: 0;
	}
}

.card-group .list-group-item p {
	margin-bottom: 0;
}


.thumbnail-nav {
	ul {
		list-style: none;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;

	    justify-content: safe;
	   	-webkit-overflow-scrolling: touch;
	   	-ms-overflow-style: -ms-autohiding-scrollbar; 

	   	overflow-x: auto;
	   	overflow-y: hidden;
	    padding: 0;
	    margin:0;
	}

	img {
		width: 100%;
	}

	.thumbnail-title {
		    color: white;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translateX(-50%) translateY(-50%);
		    font-size: 24px;
		    text-align: center;

	}

	.item-link {
		background: #383d41;
		opacity: 0.6;
		position: absolute;
		border-bottom: 3px white solid;
	    width: 100%;
	    height: 100%;
	}

	.thumnail-img {
		background: #222;
	    width: 50%;
	    height: 150px;
	    flex: 0 0 auto;
	    position: relative;
	}

	.active {
		background: transparent;
		border-bottom: 3px #dc3545 solid;
		opacity: 1;
	}
}

@media screen and (min-width: 768px) {
	.thumbnail-nav .thumnail-img  {
		width: 20%;
	}
}

.list-group-item .badge {
	display: none !important;
}

  