.skill-tag {
	color: #f8f9fa;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: .25rem;
	padding-top: .25rem;
	border-radius: .25rem;
	border-color: #343a40;
	border: 1px solid #dee2e6;
	background-color: #343a40;
	line-height: 30px;
}